body {
    background-color: rgb(50, 168, 82, 0.3);
    
}

body {
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 66px;
    font-family: 'Sevillana', cursive, serif;
}

.box {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 40px;
}

.thumbnail {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    vertical-align: top;
}

a {
    display: block;
    text-decoration: none;
    color: hsl(4, 71%, 58%);
    height: 50px;
    text-align: center;
}