body {
    background-color: rgb(50, 168, 82, 0.3);
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 66px;
    font-family: 'Sevillana', cursive, serif;
}

.box {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 40px;   
    position:relative;
}

.single {
    top: -28px;
}

.triple {
    top: 25px;
}

.thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

a {
    text-decoration: none;
    color: hsl(4, 71%, 58%);
    height: 50px;
    text-align: center;
    padding: 10px;
    width: 200px;
}